Repository jvivesramon/suspiria-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

.lintstagedrc:

{
  "*.ts": "eslint --max-warnings=0",
  "*.{ts,json,md}": "prettier --write"
}

Add workflows configs
  .github/workflows/audit.yml
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

Add GlobalStyled component with resets and styles
  package-lock.json
  package.json
  sonar-project.properties
  src/styles/GlobalStyle.ts
  src/styles/theme/styled.d.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add ContainerStyled component
  src/components/shared/ContainerStyled.ts
Due: eslint --max-warnings=0, prettier --write

Add Layout with Container component to App component
  package-lock.json
  package.json
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/Layout/Layout.tsx
  src/main.tsx
Due: prettier --write

Add appRouter router
  package.json
  sonar-project.properties
  src/main.tsx
  src/routers/appRouter.tsx
Due: prettier --write

Delete index.css file and delete import from main.tsx
  src/index.css
  src/main.tsx
Due: none

Change theme's property for 'secondary' in theme file
  src/components/App/App.test.tsx
  src/styles/theme/styled.d.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add Header component
  package.json
  public/images/suspiria-title.svg
  src/components/App/App.tsx
  src/components/Header/Header.tsx
  src/components/Header/HeaderStyled.tsx
  src/components/Layout/Layout.tsx
Due: prettier --write

Add Header component test
  index.html
  package.json
  public/favicon.svg
  public/vite.svg
  src/components/Header/Header.test.tsx
  src/components/Layout/Layout.tsx
  src/main.tsx
  src/routers/appRouter.tsx
Due: prettier --write

Add Nav component
  public/favicon.svg
  public/images/nav/create.svg
  public/images/nav/logout.svg
  src/components/Nav/Nav.tsx
  src/components/Nav/NavStyled.tsx
  src/styles/theme/styled.d.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add testUtils functions
  sonar-project.properties
  src/testUtils/testUtils.tsx
Due: none

Add Nav component test
  index.html
  src/components/Nav/Nav.test.tsx
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Add Nav component to Header component
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
  src/components/Header/HeaderStyled.tsx
Due: none

Add Layout component test
  src/components/Layout/Layout.test.tsx
Due: none

Add App component test
  public/images/header-title/suspiria-title.svg
  src/components/App/App.test.tsx
  src/components/Header/Header.tsx
  src/components/Nav/Nav.tsx
Due: none

Add LoginPage component
  public/images/illustrations/woman-0.svg
  public/images/illustrations/woman-1.svg
  public/images/illustrations/woman-2.svg
  public/images/illustrations/woman-3.svg
  public/images/illustrations/woman-4.svg
  src/components/Layout/Layout.tsx
  src/pages/LoginPage.tsx
  src/pages/LoginPageStyled.tsx
  src/styles/theme/styled.d.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add LoginPage component test
  src/pages/LoginPage.test.tsx
  src/pages/LoginPage.tsx
Due: none

Add userSlicer reducer
  src/store/index.ts
  src/store/user/types.ts
  src/store/user/userSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add loginUser reducer test
  public/favicon.svg
  public/images/headerTitle/suspiria-title.svg
  src/components/Header/Header.tsx
  src/mocks/userMocks.ts
  src/store/user/userSlice.test.ts
Due: eslint --max-warnings=0, prettier --write

Add LoginForm component
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/LoginFormStyled.tsx
  src/pages/LoginPage.tsx
  src/pages/LoginPageStyled.tsx
  src/styles/GlobalStyle.ts
Due: eslint --max-warnings=0, prettier --write

Add LoginForm component test
  src/components/LoginForm/LoginForm.test.tsx
Due: none

Add Button component
  src/components/Button/Button.tsx
  src/components/LoginForm/LoginForm.tsx
Due: none

Add Button component test
  src/components/App/App.tsx
  src/components/Button/Button.test.tsx
Due: none

Add LoginForm component controllers
  src/components/Button/Button.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/types.ts
  src/mocks/userMocks.ts
  src/store/user/userSlice.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add Button component controllers test
  sonar-project.properties
  src/components/Button/Button.test.tsx
  src/components/LoginForm/LoginForm.test.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/LoginFormStyled.tsx
  src/pages/LoginPage.tsx
  src/styles/GlobalStyle.ts
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Add useUser hook
  package-lock.json
  package.json
  src/components/Layout/Layout.tsx
  src/components/LoginForm/LoginFormStyled.tsx
  src/env.d.ts
  src/hooks/useUser.ts
  src/mocks/handlers.ts
  src/mocks/mocks/userMocks.ts
  src/mocks/server.ts
  src/pages/LoginPage.tsx
  src/routers/appRouter.tsx
  src/setupTests.ts
  src/store/user/userSlice.test.ts
Due: eslint --max-warnings=0, prettier --write

Add useUser hook test
  src/hooks/useUser.test.ts
  src/hooks/useUser.ts
  src/mocks/mocks/userMocks.ts
  src/styles/GlobalStyle.ts
  src/utils/errorMessages.ts
  src/utils/types.ts
Due: eslint --max-warnings=0, prettier --write

Add lazy-pages at appRouter file
  src/routers/appRouter.tsx
  src/routers/lazyPages.ts
  src/routers/paths/paths.ts
  src/routers/paths/types.ts
Due: eslint --max-warnings=0, prettier --write

Add onSubmit function on LoginPage component
  sonar-project.properties
  src/components/LoginForm/LoginForm.test.tsx
  src/pages/LoginPage.tsx
  src/routers/paths/paths.ts
  src/routers/paths/types.ts
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Add useLocalStorage setToken function
  src/hooks/useLocalStorage/useLocalStorage.test.ts
  src/hooks/useLocalStorage/useLocalStorage.ts
  src/hooks/useUser/useUser.test.ts
  src/hooks/useUser/useUser.ts
  src/pages/LoginPage.tsx
Due: eslint --max-warnings=0, prettier --write

Add useLocalStorage getToken function
  src/hooks/useLocalStorage/useLocalStorage.ts
Due: eslint --max-warnings=0, prettier --write

Add useLocalStorage custom hook test
  src/hooks/useLocalStorage/useLocalStorage.test.ts
Due: eslint --max-warnings=0, prettier --write

Add token to local storage
  src/pages/LoginPage.tsx
  src/routers/appRouter.tsx
Due: none

Add useToken custom hook
  package-lock.json
  package.json
  src/hooks/useToken/useToken.ts
Due: eslint --max-warnings=0, prettier --write

Add getTokenUserData function test
  src/components/types.ts
  src/hooks/useToken/useToken.test.ts
  src/mocks/mocks/userMocks.ts
  src/pages/LoginPage.tsx
  src/store/user/userSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add font-face at global styles
  public/_redirects
  src/styles/GlobalStyle.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add useLocalStorage custom hook removeToken function
  src/hooks/useLocalStorage/useLocalStorage.ts
Due: eslint --max-warnings=0, prettier --write

Add removeToken test from useLocalStorage custom hook
  src/components/LoginForm/LoginFormStyled.tsx
  src/hooks/useLocalStorage/useLocalStorage.test.ts
  src/styles/GlobalStyle.ts
  src/styles/theme/theme.ts
Due: eslint --max-warnings=0, prettier --write

Add userSlice logout reducer
  sonar-project.properties
  src/store/user/userSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add userSlice logout reducer test
  src/store/user/userSlice.test.ts
Due: eslint --max-warnings=0, prettier --write
