Repository jvivesramon/suspiria-front: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Add Header component test for not isLogged case
  src/components/App/App.tsx
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
  src/hooks/useLocalStorage/useLocalStorage.test.ts
  src/mocks/mocks/userMocks.ts
  src/pages/LoginPage.tsx
  src/routers/appRouter.tsx
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Delete token property from the return function of getTokenUserData
  src/components/App/App.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/LoginForm/LoginFormStyled.tsx
  src/components/types.ts
  src/hooks/useToken/useToken.ts
  src/mocks/mocks/userMocks.ts
  src/pages/LoginPage.tsx
  src/store/user/userSlice.test.ts
  src/store/user/userSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add onClickLogout function to logout button at Nav component
  src/components/Button/Button.tsx
  src/components/Nav/Nav.tsx
Due: none

Add Nav component onClick function test
  src/components/Button/Button.tsx
  src/components/Nav/Nav.test.tsx
  src/components/Nav/Nav.tsx
  src/components/Nav/NavStyled.tsx
  src/styles/GlobalStyle.ts
Due: eslint --max-warnings=0, prettier --write

Make await the userEvent method in onClicklogout function test
  src/components/Nav/Nav.test.tsx
  src/components/Nav/Nav.tsx
Due: none

Add loginPage component test for onSubmit function
  public/robots.txt
  src/components/Header/Header.test.tsx
  src/components/LoginForm/LoginForm.test.tsx
  src/components/Nav/Nav.test.tsx
  src/pages/LoginPage.test.tsx
  src/testUtils/testUtils.tsx
Due: none

Add useUser custom hook error test
  src/components/Nav/Nav.tsx
  src/hooks/useLocalStorage/useLocalStorage.ts
  src/hooks/useToken/useToken.test.ts
  src/hooks/useToken/useToken.ts
  src/hooks/useUser/useUser.test.ts
  src/hooks/useUser/useUser.ts
  src/mocks/handlers.ts
  src/mocks/mocks/userMocks.ts
  src/pages/LoginPage.test.tsx
  src/pages/LoginPage.tsx
Due: eslint --max-warnings=0, prettier --write

Add LoginPage component error test
  src/components/LoginForm/LoginForm.test.tsx
  src/components/Nav/Nav.test.tsx
Due: none

Add Navbar component use case test
  sonar-project.properties
  src/components/Button/Button.tsx
  src/components/Header/Header.tsx
  src/components/Navbar/Navbar.test.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/NavbarStyled.tsx
  vite.config.ts
Due: eslint --max-warnings=0, prettier --write

Add PicturesPage page
  src/components/Navbar/Navbar.test.tsx
  src/pages/LoginPage/LoginPage.test.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/LoginPageStyled.tsx
  src/pages/PicturesPage/PicturesPage.tsx
  src/pages/PicturesPage/PicturesPageStyled.tsx
  src/routers/appRouter.tsx
  src/routers/lazyPages.ts
Due: eslint --max-warnings=0, prettier --write

Add PicturesPage test
  src/pages/LoginPage/LoginPage.test.tsx
  src/pages/PicturesPage/PicturesPage.test.tsx
  src/routers/appRouter.tsx
  src/routers/lazyPages.ts
Due: eslint --max-warnings=0, prettier --write

Add lazyPicturesList test
  src/routers/lazyPages.test.tsx
Due: none

Add loadPictures reducer at picturesSlice
  src/store/pictures/picturesSlice.ts
  src/types.ts
Due: eslint --max-warnings=0, prettier --write

Add loadPictures reducer test
  src/mocks/mocks/picturesMock.ts
  src/store/index.ts
  src/store/pictures/picturesSlice.test.ts
  src/store/pictures/picturesSlice.ts
Due: eslint --max-warnings=0, prettier --write

Send pictures list to picturesSlice from PicturesPage page
  src/pages/PicturesPage/PicturesPage.tsx
Due: none

Add PictureList component
  src/components/PicturesList/PicturesList.tsx
  src/components/PicturesList/PicturesListStyled.tsx
  src/mocks/mocks/picturesMock.ts
  src/pages/PicturesPage/PicturesPage.tsx
  src/types.ts
Due: eslint --max-warnings=0, prettier --write

Add PicturesList component test
  src/components/PicturesList/PicturesList.test.tsx
  src/components/PicturesList/PicturesList.tsx
  src/routers/lazyPages.test.tsx
Due: none

Add PictureCard component
  src/components/Header/HeaderStyled.tsx
  src/components/LoginForm/LoginFormStyled.tsx
  src/components/PictureCard/PictureCard.tsx
  src/components/PictureCard/PictureCardStyled.tsx
  src/components/PicturesList/PicturesList.tsx
  src/components/PicturesList/PicturesListStyled.tsx
  src/mocks/mocks/picturesMock.ts
Due: eslint --max-warnings=0, prettier --write

Add PictureCard component test
  src/components/PictureCard/PictureCard.test.tsx
  src/components/PicturesList/PicturesList.tsx
  src/pages/PicturesPage/PicturesPage.tsx
Due: none

Add useApi custom hook
  src/hooks/useApi/useApi.ts
  src/hooks/useUser/useUser.ts
Due: eslint --max-warnings=0, prettier --write

Add getPictures function test from useApi custom hook
  src/components/PictureCard/PictureCardStyled.tsx
  src/hooks/useApi/useApi.test.ts
  src/mocks/handlers.ts
  src/mocks/mocks/picturesMock.ts
  src/routers/paths/paths.ts
  src/routers/paths/types.ts
  src/testUtils/testUtils.tsx
Due: eslint --max-warnings=0, prettier --write

Add dispatch to store from useApi custom hook
  src/components/PictureCard/PictureCardStyled.tsx
  src/components/PicturesList/PicturesListStyled.tsx
  src/pages/PicturesPage/PicturesPage.tsx
Due: none

Add Loading component
  public/images/illustrations/woman-0.svg
  public/images/illustrations/woman-2.svg
  public/images/illustrations/woman-3.svg
  public/images/illustrations/woman-4.svg
  src/components/Layout/Layout.tsx
  src/components/LoginForm/LoginFormStyled.tsx
  src/components/UI/Loading/Loading.tsx
  src/components/UI/Loading/LoadingStyled.tsx
  src/hooks/useApi/useApi.ts
  src/pages/LoginPage/LoginPageStyled.tsx
Due: eslint --max-warnings=0, prettier --write

Add Loading component test
  src/components/Layout/Layout.tsx
  src/components/UI/Loading/Loading.test.tsx
  src/components/UI/Loading/Loading.tsx
Due: none

Add uiSlice with showLoading reducer
  src/store/UI/uiSlice.ts
  src/store/index.ts
Due: eslint --max-warnings=0, prettier --write

Add showLoading reducer test
  src/store/UI/uiSlice.test.ts
Due: eslint --max-warnings=0, prettier --write

Add hideLoading reducer
  src/store/UI/uiSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add hideLoading reducer test
  src/store/UI/uiSlice.test.ts
  src/store/index.ts
  src/store/ui/uiSlice.test.ts
  src/store/ui/uiSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add conditional rendering for Loading component at Layout component
  src/components/Layout/Layout.test.tsx
  src/components/Layout/Layout.tsx
  src/components/UI/Loading/LoadingStyled.tsx
  src/store/ui/uiSlice.test.ts
Due: eslint --max-warnings=0, prettier --write

Add dispatch to set the state for Loading component
  src/components/Layout/Layout.test.tsx
  src/hooks/useApi/useApi.ts
Due: eslint --max-warnings=0, prettier --write

Add Feedback component
  public/images/feedback/close.svg
  public/images/feedback/error.svg
  public/images/feedback/ok.svg
  src/components/Layout/Layout.tsx
  src/components/UI/Feedback/Feedback.tsx
  src/components/UI/Feedback/FeedbackStyled.tsx
  src/components/UI/Loading/LoadingStyled.tsx
  src/utils/feedbackMessages/feedbackMessages.ts
  src/utils/feedbackMessages/types.ts
Due: eslint --max-warnings=0, prettier --write

Add Feedback component test
  src/components/Layout/Layout.tsx
  src/components/UI/Feedback/Feedback.test.tsx
Due: none

Add showModal reducer
  src/store/ui/uiSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add showModal reducer test
  src/components/PictureCard/PictureCard.tsx
  src/components/UI/Feedback/Feedback.test.tsx
  src/components/UI/Feedback/Feedback.tsx
  src/components/UI/Loading/LoadingStyled.tsx
  src/hooks/useUser/useUser.test.ts
  src/hooks/useUser/useUser.ts
  src/mocks/mocks/uiMock.ts
  src/store/ui/uiSlice.test.ts
  src/utils/feedbackMessages/feedbackMessages.ts
  src/utils/feedbackMessages/types.ts
Due: eslint --max-warnings=0, prettier --write

Add hideModal reducer
  src/store/ui/uiSlice.ts
Due: eslint --max-warnings=0, prettier --write

Add hideModal reducer test
  src/store/ui/uiSlice.test.ts
  src/store/ui/uiSlice.ts
Due: eslint --max-warnings=0, prettier --write

Handle modals feedback
  src/components/Layout/Layout.test.tsx
  src/components/Layout/Layout.tsx
  src/components/UI/Feedback/Feedback.test.tsx
  src/components/UI/Feedback/Feedback.tsx
  src/components/UI/Loading/Loading.tsx
  src/components/UI/Loading/LoadingStyled.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/store/ui/uiSlice.test.ts
Due: eslint --max-warnings=0, prettier --write

Add Suspiria README
  README.md
  data-layer.md
  public/images/media/collection-cards.png
  public/images/media/detail-card.png
  public/images/media/own-create-detail-card.png
  public/images/media/welcome-login-page.png
Due: prettier --write

Add notFoundPage component
  public/images/feedback/not-found-page.svg
  src/components/Layout/Layout.tsx
  src/components/UI/Feedback/FeedbackStyled.tsx
  src/components/UI/Loading/LoadingStyled.tsx
  src/components/UI/NotFoundPage/NotFoundPage.tsx
  src/components/UI/NotFoundPage/NotFoundPageStyled.tsx
Due: none

Path conditions:
  eslint --max-warnings=0: any of: *.ts
  prettier --write: any of: *.{ts,json,md}
